    <h1>Adverts list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Cost</th>
                <th>Km</th>
                
                <th>Year</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for advert in adverts %}
            <tr>
               <td>{{ advert.title }}</td>
                <td>{{ advert.cost }}</td>
                <td>{{ advert.km }}</td>
                
                <td>{{ advert.year }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('advert_show', { 'id': advert.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

