
{% extends 'base.html.twig' %}

{% block body %}
    
    <form method="GET" action="{{ path('homepage') }}" class="form-inline">
    <div class="form-group">
        <label class="control-label" for="make">Brand:</label>
        <select class="form-control" id="make-list" name="make">
            <option value="">Please select</option>
            {% for make in makes %}
                <option value="{{make.id}}" {% if selected_make_id== make.id%} selected {% endif %}>{{make.name}}</option>
            {% endfor %}
        </select>
    </div>
     <div class="form-group">
        <label class="control-label" for="model">Model:</label>
        <select class="form-control" id="model-list" name="model">
            <option value=""></option>
             {% for model in models %}
                <option value="{{model.id}}" {% if selected_model_id== model.id%} selected {% endif %}>{{model.name}}</option>
            {% endfor %}
        </select>
    </div>

        <input type="submit" value="search" class="btn btn-primary"/>

</form>
       
<script>
    var url = '{{ path('homepage') }}';
    var $maker = document.getElementById('make-list');

    $maker.onchange = function(){
        if (this.value > 0){
            location.href = url + '?make=' + this.value;
        }
      
    };
</script>
    
    {{ include('advert/index.html.twig', { 'adverts': adverts }) }}'
    
{% endblock %}